.container {
  border: 5px solid #66e734;
  background-color: #9ef37d;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-auto-rows: 100px;
  gap: 15px;
  place-content: center;
  place-items: end;
}

.item {
  border: 5px solid #bf56f0;
  font-size: 4rem;
}