* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

main {
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-auto-rows: 55rem;
}

.hero-image,
.plates-item  {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  align-self: center;
}

.info-tittle {
  color: #333;
  font-size: 4.5rem;
  font-weight: bolder;
  margin-bottom: 2.4rem;
}

.info-subtittle {
  color: #333;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.info-button {
  border: none;
  border-radius: 2rem;
  color: #333;
  background-color: #FB8C00;
  font-weight: bold;
  padding: 1.2rem 2.4rem;
}

.dishes{
  margin: 10rem 2rem;
}

.dishes-title, 
.plates-title {
  color: #333;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(15rem ,1fr));
  grid-auto-rows: 1fr;
  gap: 2.5rem;
  justify-content: center;
}

.dishes-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dishes-item__big {
  grid-area: 1/1/3/3;
}

.plates-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(10rem, 25rem));
  gap: 2.5rem;
  margin: 0 1rem;
}

.plates-grid-item {
  background-color: pink;
  padding: 1.5rem;
  border-top-left-radius: 4rem;
}