* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

main {
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(40rem, 2fr) 3fr;
  grid-auto-rows: 55rem;
}

.hero-image,
.plates-item  {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  align-self: center;
}

.info-tittle {
  color: #333;
  font-size: 4.5rem;
  font-weight: bolder;
  margin-bottom: 2.4rem;
}

.info-subtittle {
  color: #333;
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.info-button {
  border: none;
  border-radius: 2rem;
  color: #333;
  background-color: #FB8C00;
  font-weight: bold;
  padding: 1.2rem 2.4rem;
}

.dishes{
  margin: 10rem 2rem ;
}

.dishes-title, 
.plates-title {
  color: #333;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(15rem ,1fr));
  grid-auto-rows: 1fr;
  gap: 0.5rem;
  justify-content: center;
}

.dishes-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  padding: 1rem;
}

.dishes-item:hover {
  padding: 0.5rem;
}

.dishes-item__big {
  grid-area: 1/1/3/3;
}

.plates-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(10rem, 25rem));
  gap: 2rem;
  margin: 0 1rem;
}

.plates-grid-item {
  background-color: #333;
  padding: 1.5rem;
  border-radius: 2rem;
}

.plates-grid-item:hover {
  padding: 0.5rem;
  box-shadow: 0 0 5rem #FB8C00;
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: minmax(30rem, 50rem);
    justify-content: center;
  }
  .hero-image {
    display: none;
  }

  .dishes-grid {
    grid-template-columns: repeat( auto-fit , minmax(10rem, 0));
  }

  .plates-grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 0));
  }
}